version: 2.1
jobs:
  build:
    working_directory: ~/hugo-test
    docker:
      - image: cibuilds/hugo:latest

    steps:
      - attach_workspace:
          at: ~/hugo-test
      - checkout
      - run: HUGO_ENV=production hugo
      - persist_to_workspace:
          root: .
          paths: public
  pdf:
    working_directory: ~/hugo-test
    docker:
      - image: dalibo/pandocker
    steps:
      - attach_workspace:
          at: ~/hugo-test
      - run: >
          cd content/posts &&
          mkdir pdfs &&
          cat $(ls -t *.md) > full_site.md &&
          for i in *.md; 
            do \
            $i -o public/pdfs/${i//\.md/.pdf} \
            --pdf-engine=xelatex \
            -V geometry:margin=1in \
            -V papersize:a4 \
          done
          cp -r pdfs public/pdfs
  deploy:
    machine: true
    steps:
      - run: >
          cd public
          git init
          git config user.name "CircleCI"
          git config user.email "circleci@hotosm.org"
          git add .
          git commit -m "CI deploy to gh-pages"
          git push --force --quiet "https://${GH_TOKEN}@github.com/${CIRCLECI_REPO_SLUG}.git" master:gh-pages
      
workflows:
  version: 2
  build_and_pdf:
    jobs:
      - build
      - pdf:
          requires:
          - build
      - deploy:
          requires:
            - pdf
