version: 2.1
jobs:
  build:
    working_directory: ~/hugo-test
    docker:
      - image: cibuilds/hugo:latest

    steps:
      - attach_workspace:
          at: ~/hugo-test
      - checkout
      - run: HUGO_ENV=production hugo
      - persist_to_workspace:
          root: .
          paths: public
  pdf:
    working_directory: ~/hugo-test
    docker:
      - image: dalibo/pandocker
    steps:
      - checkout
      - attach_workspace:
          at: ~/hugo-test
      - run: >
          cd content/posts &&
          cat $(ls -t *.md) > full_site.md
      - run: >
          mkdir ~/hugo-test/public/pdfs &&
          cd content/posts &&
          for i in *.md; 
            do
            pandoc $i -o ~/hugo-test/public/pdfs/${i//\.md/.pdf} --pdf-engine=xelatex -V geometry:margin=1in -V papersize:a4 
          done
  
  deploy:
    docker:
      - image: node:8.10.0
    steps:
      - checkout
      - attach_workspace:
          at: ~/hugo-test/public
      - run: touch ~/hugo-test/public/.nojekyll
      - run:
          name: Install and configure dependencies
          command: |
            npm install -g --silent gh-pages@2.0.1
            git config user.email "russbiggs@gmail.com"
            git config user.name "ci-build"
      - add_ssh_keys:
          fingerprints:
            - "ee:f7:34:c0:f9:55:c5:de:1e:d4:8c:75:cf:d1:5c:0a"
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --dotfiles --message "[skip ci] Updates" --dist ~/hugo-test/public

workflows:
  version: 2

  build_and_pdf:
    jobs:
      - build:
          filters:
            branches:
              only: master
      - pdf:
          requires:
          - build
          filters:
            branches:
              only: master
      - deploy:
          requires:
            - pdf
          filters:
            branches:
              only: master